<!DOCTYPE html>
<html lang="en">
<@Html.Partial("_Header")
<!--/head-->

<body>
    <!--/header-->
    @Html.Partial("_Menu")
    @RenderBody()
    <!--/slider-->
    
    @Html.Partial("_Footer")
    <!--/Footer-->



    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/price-range.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>