<!DOCTYPE html>
<html lang="en">


@Html.Partial("_Header")
<body>

    <!-- Navigation -->
    
    @Html.Partial("_Menu")
    <!-- Page Header -->
    
    @RenderBody()
    <!-- Main Content -->
    

    <hr>

    <!-- Footer -->
    
    @Html.Partial("_Footer")

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Script/js/clean-blog.min.js"></script>

</body>

</html>
