.dvMain{
    position:relative;
    background-color:cornflowerblue;
    width:100%;
    height:950px;
}
header {
    position: absolute;
    background-color: darkgoldenrod;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index:1;
}
aside {
    position: absolute;
    background-color: orange;
    width: 15%;
    height: 500px;
    left: 0px;
    top: 350px;
}
footer {
    position: absolute;
    background-color:rebeccapurple;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
}
.slider {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 250px;
    left: 0px;
    top: 100px;
}
#content {
    position: absolute;
    background-color: cornflowerblue;
    width: 85%;
    height: 500px;
    left: 15%;
    top: 350px;
}
